.menu-list-container {
    max-width: 75px;
    list-style: none;
    color: var(--icon-color);
    margin: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.menu {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    margin-left: -30px;
}

.menu-list {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
    transition: background 0.5s;

}

.menu-list:hover {
    background: var(--color-primary);
    color: var(--color-white);
    
}

.selected {
    background: var(--color-primary);
    color: var(--color-white);
}

.butterfly:hover {
    background: none;
}

.menu-one, .menu-three {
    flex-basis: 12%;
}

.menu-two {
    flex-basis: 60%;
}

.blue-dot {
    display: inline-block;
    position: absolute;
    height: 9px;
    width: 9px;
    border-radius: 50%;
    background: #85AFFF;
    top: 0;
    right: 0;
}