.menu-list-container {
    max-width: 75px;
    list-style: none;
    color: var(--icon-color);
    margin: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.menu1 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    margin-left: -30px;
    /* position: absolute;
    left: 0; */
    flex-basis: 5%;
}

.menu2 {
    display: none;
}

.menu-header {
    display: none;
}

.menu-list {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
    transition: background 0.5s;

}

.menu-list:hover {
    background: var(--color-primary);
    color: var(--color-white);
    
}

.selected {
    background: var(--color-primary);
    color: var(--color-white);
}

.butterfly:hover {
    background: none;
}

.menu-one, .menu-three {
    flex-basis: 12%;
}

.menu-two {
    flex-basis: 60%;
}

.blue-dot {
    display: inline-block;
    position: absolute;
    height: 9px;
    width: 9px;
    border-radius: 50%;
    background: #85AFFF;
    top: 0;
    right: 0;
}

@media only screen and (max-width: 1025px){
    .menu1{
        padding: 10px 0;
        position: sticky;
        left: -30;
        top: 0;
    }
}

@media only screen and (max-width: 769px){
    .selected {
        background-color: transparent;
        color: var(--icon-color);
    }

}

@media only screen and (max-width: 426px) {
    .menu1 {
        display: none;
    }

    .menu2 {
        display: block;
        width: 100%;
        padding: 10px 20px;
        position: fixed;
        bottom: 0;
        background-color: var(--color-white);
        z-index: 5;
    }

    .menu2 > ul {
        width: 100%;
        display: flex;
        list-style: none;
        padding: 0;
        justify-content: space-between;
    }

    .menu2-list {
        color: var(--icon-color);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        cursor: pointer;
        border-radius: 5px;
        transition: background 0.5s;
    }

    .menu2-list:hover {
        background: var(--color-primary);
        color: var(--color-white);
    }

    .menu-header {
        width: 100%;
        display: block;
        padding: 10px 20px;
        position: sticky;
        top: 0;
        background-color: var(--color-white);
        z-index: 5;
    }

    .menu-header > ul {
        width: 100%;
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
        justify-content: space-between;
    }

    .header-list {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        cursor: pointer;
        border-radius: 5px;
        position: relative;
        color: var(--icon-color);
    }

    
}