.intro-container {
    padding: 30px;
    background-color: #fafafa;
    flex-basis: 21%;
}

.intro-header {
    display: flex;
    align-items: center;
    gap: 20px;
}

.avatar-container {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 2.5px 2.5px 5px #9ca3af;
}

.avatar {
    width: 100%;
}

.today-summary div, .transaction-section div {
    margin: 10px 0;
}

.today-summary h4 {
    font-size: 20px;
}

.today-summary p {
    font-size: 14px;
}

.today-summary, .transaction-section {
    padding: 10px;
    margin: 10px 0;
}

.today-summary h6, .transaction-section h6 {
    font-size: 16px;
    
}

.today-summary h3 {
    font-size: 24px;
    font-weight: 700;
}

.today-summary h5 {
    font-size: 16px;
}

.today-summary p, .transaction-section p {
    font-size: 12px;
    color: #9ca3af;
    font-family: sans-serif;
    letter-spacing: 0.5px;
}

.today-summary select {
    padding: 8px;
    font-size: 18px;
    color: var(--color-white);
    background-color: var(--color-primary);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.today-summary select option {
    background-color: var(--color-white);
    color: var(--color-black);
}

.transaction-section hr {
    opacity: 30%;
    margin: 10px 0 20px 0;
}

.transaction-section h4 {
    font-family: sans-serif;
    font-size: 14px;
}

@media only screen and (max-width: 1025px){

    .intro-container {
        padding: 30px;
    }

    .intro-header {
        display: block;
    }

    .avatar-container {
        height: 60px;
        width: 60px;
        border-radius: 50%;
        margin-bottom: 10px;
    }

    .today-summary, .transaction-section {
        padding: 0;
    }

    .today-summary h3 {
        font-size: 20px;
        font-weight: 600;
    }
}

@media only screen and (max-width: 768px){
    .intro-container {
        flex-basis: 30%;
    }

}

@media only screen and (max-width: 600px) {
    .intro-container {
        flex-basis: 100%;
        padding-top: 10px;
    }

    .intro-header {
        display: flex;
    }

    .today-summary, .transaction-section {
        padding: 10px 20px;
    }

    .today-summary span {
        display: none;
    }

    .today-summary > div {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .today-summary > div {
        flex-basis: 100%;
    }

    .today-summary select {
        width: 100%;
        text-align: center;
        appearance: none;
    }

    .transaction-section > div > h4 {
        font-size: 13px;
    }
}