.strategy-container {
    flex-basis: 23%;
    background-color: var(--color-white);
    padding: 50px 20px;
}

.strategy-container > article {
    width: 100%;
    background-color: #fafafa;
    padding: 20px;
}

.strategy-container > article > h4 {
    font-size: 18px;
}

.strategy-container > article p {
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 600;
    margin: 10px 0px;
}

.strategy-container > article hr {
    opacity: 30%;
}

.help-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    gap: 20px;
}

.help-section > button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: var(--color-primary);
    color: var(--color-white);
    font-size: 16px;
    cursor: pointer;
}

.strategy-container a {
    text-decoration: none;
    font-weight: 600;
    font-family: sans-serif;
    color: #6453FE;
    font-size: 14px;
}

#strategy-comparison {
    display: none;
}

.strategy-container > div:last-child {
    width: 100%;
    background-color: #fafafa;
    padding: 10px;
    font-family: sans-serif;
    border-left: 2px solid #6453FE;
}

.strategy-container > div > p{
    color: #9ca3af;
    font-size: 12px;
    letter-spacing: 0.5px;
}

.strategy-container > div > span {
    font-size: 14px;
}

@media only screen and (max-width: 1025px){
    .strategy-container {
        padding-right: 0;
    }
}

@media only screen and (max-width: 768px){
    .strategy-container {
        flex-basis: 90%;
        position: relative;
        right: -10%;
        padding: 30px;
    }
  }

@media only screen and (max-width: 600px) {

    #strategy-comparison {
        display: block;
    }

    #strategy-comparison > button {
        color:  var(--icon-color);
        position: absolute;
        right: 0;
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        background-color: transparent;
    }

    .strategy-container {
        padding: 30px;
        position: static;
        flex-basis: 100%;
        margin-top: 50px;
    }
    
    .strategy-container > article {
        margin-top: 20px;
    }

    .strategy-container > div:last-child {
        display: none;
    }

    .help-section > a {
        display: none;
    }

    form > select {
        background-color: var(--color-white);
    }
}