@import url('https://fonts.googleapis.com/css2?family=Newsreader:opsz@6..72&display=swap');

:root {
  --color-white: #fff;
  --color-black: #000;
  --icon-color: #9ca3af;
  --color-primary: #4935ff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  font-family: 'Newsreader', serif;
  line-height: 1.5;
  -webkit-font-smoothing : antialiased;
  background-color: var(--color-white);
  color: var(--color-black);
}

.App {
  position: relative;
}